
/*===RESET===*/
*{
    margin:0;
}
/*===BASE STYLES===*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;}
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2e2f42;
}
button{
    cursor: pointer;
    background: none;
    
}
a{
    text-decoration: none;
    color: inherit;

}
.link{
    text-decoration: none;
    display: inline-block;
}

ul, ol{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*==HERO==*/
.hero-title{
   text-align: center;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}
.hero-button{
   background-color: #4d5ae5; 
   font-family: 'Roboto',sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
}
.hero-button:hover{
  background-color: #404bbf; 
}
.hero-button:focus{
    background-color: #404bbf;
}
/*===HEADER===*/
.header{
background-color: #ffffff;
border-bottom: 1px solid #e7e9fc;


}
.header-nav{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 15px;
    display: flex;
    padding: 0 15px;
    
}
.site-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase ;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-decoration: none;
    display: flex;
    margin-right: 76px;
}
   
.logo-part {
    color: #2e2f42;
    margin-right: 76px;
}
.menu-list{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;

} 
.menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms ease;
    padding: 24px 0;
    display: flex;
    gap: 40px;
}
   
.menu{
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-items: center;
}
   .menu-link:hover,
.menu-link:focus{
   color: #404bbf;
}
.menu-link.current{
   color: #404bbf;
}
.contacts{
    font-style: normal;
}
.contacts-list{
   
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     gap: 40px;
   
}
.contact-link{
    font-style: normal;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.contact-link:hover,
.menu-link:focus{
    color:#404bbf;
}
/*===HERO SECTION===*/
.hero{
   background-color: #2e2f42;
   color: #ffffff;
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;
    padding: 188px 0;  
}
.hero-title {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}
.hero-button{
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}
.hero-button:hover{
    background-color: #404bbf;
}
.hero-button:focus{
  background-color: #404bbf;    
}
/*--FEATURES--*/
.features{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
}
.features-title{
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
 }
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-list{
    list-style: none;
    padding: 120px 0;
    margin: 0;
    display: flex;
    gap: 24px;

}
.features-item{
    width: calc((100% - 72px) /4)

}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
/*==TEAM==*/
.team{
    background-color: #F4F4FD;
    padding: 120px 0;

}
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
   
}
.team-item{
    background-color: #ffffff;
}

    .team-item{
    border-radius: 0px 0px 4px 4px;
     width: calc((100% - 72px) /4)
}
.team-list{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    
}
.team-info{
    padding:32px 0
}
.team-photo{
    border-radius: 8px;
    max-width: 100%;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;


}
.team-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:center;
    color: #434455;
}
/*PORTFOLIO*/
.portfolio{
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;
}
   

    .portfolio-title{
        line-height: 1.11;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list {
list-style: none;
margin: 0;
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.portfolio-item{
background-color: #ffffff;
 width: calc((100% - 48) /3)
}
.portfolio-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*==FOOTER==*/
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container{
   padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f4fd;
    white-space: nowrap;
    margin-bottom: 16px;
}

a.footer-logo .logo-part{
    color: #4d5ae5;
    display: inline;
    margin-right: 0;
}
.logo-rest{
    color: inherit;
    display: inline;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
    color: #f4f4fd; 
    max-width: 264px; 
}
.visually-hidden{
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}