
/*===RESET===*/
*{
    margin:0;
}
/*===BASE STYLES===*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;}
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2e2f42;
}
button{
    cursor: pointer;
    background: none;
    
}
a{
    text-decoration: none;
    color: inherit;

}
ul, ol{
    list-style: none;
}
.hero-title{
   text-align: center;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
}
.hero-button{
   background-color: #4d5ae5; 
   font-family: 'Roboto',sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
}
.hero-button:hover{
  background-color: #404bbf; 
}
.hero-button:focus{
    background-color: #404bbf;
}
/*===HEADER===*/
.header{
background-color: #ffffff;

}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.site-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase ;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-decoration: none;}
   
.logo-part {
    color: #2e2f42;
}
.menu-list{
    margin: 0;
    padding: 0;
} 
.menu{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   text-decoration: none;
   transition: color 250ms ease;}
   .menu-link:hover,
.menu-link:focus{
   color: #404bbf;
}
.menu-link.current{
   color: #404bbf;
}
.contacts{
    font-style: normal;
}
.contacts-list{
   
     list-style: none;
     margin: 0;
     padding: 0;
   
}
.contact-link{
    font-style: normal;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.contact-link:hover,
.menu-link:focus{
    color:#404bbf;
}
/*===HERO SECTION===*/
.hero{
   background-color: #2e2f42;
   color: #ffffff;
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;  
}
.hero-title {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button{
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 0.3s;

}
.hero-button:hover{
    background-color: #404bbf;
}
.hero-button:focus{
  background-color: #404bbf;    
}
/*--FEATURES--*/
.features{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
}
.features-title{
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
 }
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
/*==TEAM==*/
.team{
    background-color:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
   
}
.team-item{
    background-color: #ffffff;
}
.team-list{
    padding: 0;
    margin: 0;
}
.team-photo{
    border-radius: 8px;
    max-width: 100%;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;


}
.team-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:center;
    color: #434455;
}
/*PORTFOLIO*/
.portfolio{
    background-color: #ffffff;}
   

    .portfolio-title{
        line-height: 1.11;
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-list {
list-style: none;
margin: 0;
}
.portfolio-item{
background-color: #ffffff;
}
.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*==FOOTER==*/
.footer{
    background-color: #2e2f42;
  
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-part{
    color: #4d5ae5;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
    color: #f4f4fd;   
}
.visually-hidden{
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}