
/*===RESET===*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*===BASE STYLES===*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;}
    .container{
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2e2f42;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    
}
a{
    text-decoration: none;
    color: inherit;

}
ul, ol{
    list-style: none;
}
.text-small{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #434455;
}
/*===HEADER===*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
background-color: #ffffff;

}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
    

.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase ;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-decoration: none;}
   
.logo-accent {
    color: #404bbf;
}
.menu-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
} 
.menu-link{
    position: relative;
   text-decoration: none;
   color: #2e2f42;
   padding-bottom: 24px;
   transition: color 250ms ease;}
   
.menu-link:focus{
    outline: none;
}
.menu-link.current{
   color: #404bbf;}
.current{
    color: #404bbf;
    position: relative;
}
.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height:4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contacts-list{
    display: flex;
     gap: 40px;
     list-style: none;
     margin: 0;
     padding: 0;
   
}
.contact-link{
    font-size: 16px;
    font-weight: 400;
   color: #434455;
   text-decoration: none;
   transition: color 250ms ease;
}
.contact-link:hover,
.menu-link:focus{
    color:#404bbf;
}


/*===HERO SECTION===*/
.hero{
   background-color: #2f303a;
   color: #fff;
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;
   
}
.hero-title {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    text-align: center;
}
.hero-button{
    display: inline-block;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.hero-button-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;


    line-height: 24px;
    color: #ffffff;
    
}
.hero-button:hover
.hero-button:focus{
    background-color: #404bbf;
}
.features{
    padding-top: 120;
    padding-bottom: 120px;
    background-color: #ffffff;
}
.features-list{
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title{
    font-family: 'Roboto',sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #2e2f42;
    margin-bottom: 72px;
    letter-spacing: 0.02em;
}
.team-list{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.team-photo{
    border-radius: 8px;
    display: block;
    max-width: 100%;
    height: auto;
}
.team-name{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;


}
.team-position{
    font-size: 16px;
    text-align:center;
}
/*PORTFOLIO*/
.portfolio{
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;}
    .portfolio-title{
text-align: center;
font-size: 36px;
font-weight: 700;
color: #2e2f42;
margin-bottom: 72px;
    }

.portfolio-list {

display: flex;
flex-wrap: wrap;
gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}
.portfolio-item{
width: calc((100% - 48)/3);
background-color: #ffffff;
border: 1px solid #e7e9fc;
}
.portfolio-text-block{
    padding: 20px;
}
.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
}
portfolio-text{
    font-size: 16px;
    color: #434455;
}
/*==FOOTER==*/
.footer{
    padding-top: 60px;
    background-color: #2f303a;
    padding-bottom: 60px;
    color: #fff;
    text-align: center;
    
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    text-decoration: none;
}
.footer-logo span{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    color: #f4f4fd;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}