
/*===RESET===*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*===BASE STYLES===*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;}
   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2e2f42;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    
}
a{
    text-decoration: none;
    color: inherit;

}
ul, ol{
    list-style: none;
}
/*===HEADER===*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 156px;
}
/*===LOGO===*/
.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo{
    color: #4d5ae5;
}
.logo span{
    color: #2e2f42;
}
/*==NAVIGATTION==*/
.nav-list{
    display: flex;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.nav-link:hover
.nav-link:focus{
    color: #404bbf;
}
/*==CONTACTS==*/
.contacts-list{
    display: flex;
    gap: 40px;
}
.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0,02em;
    color: #434455;
    text-decoration: none;
}
.contacts-link:hover
.contacts-link:focus{
color: #404bbf;
}
/*===HERO SECTION===*/
.hero{
   
    text-align: center;
    padding:  0;    
}
.hero-title{

    font-size: inherit;
    line-height: normal;
    margin: 0 auto ;
}
.hero-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
.features-list{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.team-list{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.team-photo{
    border-radius: 8px;
    display: block;
    max-width: 100%;
    height: auto;
}
.team-name{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.team-position{
    font-size: 16px;
    text-align:center;
}
/*PORTFOLIO*/
.portfolio-list {

display: flex;
flex-wrap: wrap;
gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}
.portfolio-item{
width: calc((100% - 48)/3);
background-color: #ffffff;
border: 1px solid #e7e9fc;
}
.portfolio-text-block{
    padding: 20px;
}
.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
}
portfolio-text{
    font-size: 16px;
    color: #434455;
}
/*==FOOTER==*/
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
    
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    text-decoration: none;
}
.footer-logo span{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    color: #f4f4fd;!important;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}