
/*===RESET===*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*===BASE STYLES===*/
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;}
    .container{
       
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
   

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #2e2f42;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    
}
a{
    text-decoration: none;
    color: inherit;

}
ul, ol{
    list-style: none;
}
.text-title{
    text-transform: capitalize;
}
.text-small{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #434455;
}
/*===HEADER===*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
background-color: #ffffff;

}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
    

.logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase ;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;}
   
.logo-accent {
    color: #2e2f42;
}
.menu-list{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
} 
.menu-link{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   text-decoration: none;
   transition: color 250ms ease;}
   .menu-link:hover,
.menu-link:focus{
   color: #404bbf;
}
.menu-link.current{
   color: #404bbf;}
.current{
    color: #404bbf;
   
}
.current::after{
    content: "";
   
    background-color: #404bbf;
    border-radius: 2px;
}
.contacts{
    font-style: normal;
}
.contacts-list{
    display: flex;
     gap: 40px;
     list-style: none;
     margin: 0;
     padding: 0;
   
}
.contact-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;

}
.contact-link:hover,
.menu-link:focus{
    color:#404bbf;
}


/*===HERO SECTION===*/
.hero{
   background-color: #2e2f42;
   color: #ffffff;
    text-align: center;
    padding-top: 120px; 
    padding-bottom: 120px;
   
}
.hero-title {
color: #ffffff;
font-family: 'Roboto', sans-serif;
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-button{
    display: inline-block;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.hero-button:hover,
.hero-button:focus{
  background-color: #404bbf;
 
    
}

/*--FEATURES--*/
.features{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ffffff;
}
.features-title{
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
 }
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-list{
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team{
    background-color:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
   
}
.team-list{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.team-photo{
    border-radius: 8px;
    display: block;
    max-width: 100%;
    height: auto;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #2e2f42;
    letter-spacing: 0.02em;


}
.team-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align:center;
    color: #434455;
}
/*PORTFOLIO*/
.portfolio{
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 120px;}

    .portfolio-title{
        line-height: 1.11;
text-align: center;
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
    }

.portfolio-list {

display: flex;
flex-wrap: wrap;
gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}
.portfolio-item{

background-color: #ffffff;
border: 1px solid #e7e9fc;
}
.portfolio-text-block{
    padding: 20px;
}
.portfolio-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*==FOOTER==*/
.footer{
    background-color: #2e2f42;
  
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-part{
    color: #f4f4fd;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
    color: #f4f4fd;
    
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0,0,0,0);
    overflow: hidden;
}
/*==TEST BLOCK FOR GOIT CHECK==*/
.test{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: row;
    gap: 0;
    border-radius: 0;
    box-shadow: none;
    order: 0;
    flex-grow: 0;
    border-bottom: none;
}